
/*Clear Fix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*Clear Fix*/
.main{border: 2px solid #000000; padding: 1%; background-color: #ffffff; height: 610px; overflow: hidden;}
.left{ float: left}
.posts{ width: 41%; padding-right: 1%;position: relative;}
.albums{ width: 28%}
.todos{ width: 29%; padding-left: 1%; position: relative;}

table{ width: 100%;}
td{text-align: left; vertical-align: top;}
@media only screen and (max-width: 800px){
    td{display: block;}
    .posts{ width: 98%; padding: 1%;}
.albums{ width: 98%; padding: 1%;}
.todos{width: 98%; padding: 1%;}
.main{ height: 620px;}
}